<div id="auth-wrap">
    <input type="radio" class="login-block-btn" name="tab" checked="checked" id="tab1">
    <label for="tab1" class="tab1">Login</label>
    <input type="radio" class="sign-up-block-btn" name="tab" id="tab2">
    <label for="tab2" class="tab2">Sign Up</label>

    <div class="login-block">
        <div class="row">
            <input type="text" name="login" id="login" placeholder="Login"/>
        </div>
        <div class="row">
            <input type="text" name="password" id="password" placeholder="Password"/>
        </div>
        <div class="row">
            <button id="auth">Log in</button>
        </div>
    </div>

    <div class="sign-up-block">
        <div class="row">
            <input type="text" name="login" id="newLogin" placeholder="Login"/>
        </div>
        <div class="row">
            <input type="text" name="password" id="newPassword" placeholder="Password"/>
        </div>
        <div class="row">
            <input type="text" name="mail" id="mail" placeholder="E-mail"/>
        </div>
        <div class="row">
            <input type="text" name="role" id="role" placeholder="Group name"/>
        </div>
        <div class="row">
            <button id="signUp">Register</button>
        </div>
    </div>
</div>